<a href="#" class="list-group-item">
    <!-- <h4 class="list-group-item-heading">{{personName}}</h4>
    <p class="list-group-item-text">{{personAddress}}</p> -->
    <h4 class="list-group-item-heading">{{personObject.name}}</h4>
    <!-- <p class="list-group-item-text">{{personObject.address}}</p> -->
    <p class="list-group-item-heading">{{formattedAddressFunction({ aperson:personObject })}}</p>

    <small><ng-transclude></ng-transclude></small>
</a>
