<!DOCTYPE html>
<html lang="en-us" ng-app="myApp">
    <head>
        <title>Learn and Understand AngularJS</title>
        <meta http-equiv="X-UA-Compatible" content="IE=Edge">
        <meta charset="UTF-8">

        <!-- load bootstrap and fontawesome via CDN -->
        <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" />
        <style>
            html, body, input, select, textarea
            {
                font-size: 1.05em;
            }
        </style>
        
        <!-- load angular via CDN -->
        <script src="//code.angularjs.org/1.3.0-rc.1/angular.min.js"></script>
        <script src="//code.angularjs.org/1.3.0-rc.1/angular-messages.min.js"></script>
        <script src="//code.angularjs.org/1.3.0-rc.1/angular-resource.min.js"></script>
        <script src="/angularjs-2/app.js"></script>
    </head>
    <body>

        <header>
			<nav class="navbar navbar-default">
			<div class="container">
				<div class="navbar-header">
					<a class="navbar-brand" href="/">AngularJS</a>
				</div>

				<ul class="nav navbar-nav navbar-right">
					<li><a href="#"><i class="fa fa-home"></i> Home </a></li>
				</ul>
			</div>
			</nav>
		</header>

        <div class="container">

            <div ng-controller = "mainController" >
                <div>
                    <label>What is your name?</label>
                    <input type="text" ng-model="name" />
                </div>
                <hr/>
                <h1>Hello, My Name is {{ lowercasehandle() }} .</h1>
            </div>
            
		</div>

    </body>
</html>