<label>Search</label>
<input type="text" value="Doe" />

<h3>Search Results</h3>
<div class="list-group" >
    <!-- <search-result person-name= "{{ person.name }}"  person-address="{{person.address}} " ></search-result> -->

    <!-- <search-result person-object="person"></search-result> -->

    <search-result person-object="person" formatted-address-function="formattedAddress(aperson)" ng-repeat = "person in people">
        *Search results may not be valid
    </search-result>
   
</div>