<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">{{convertToDate({dt:weatherDay.dt}) | date:'MMM d,y'}}</h3>
    </div>
    <div class="panel-body">
         Temperature: {{convertToStandard({daytimeTemp : weatherDay.main.temp}) }}
        <br>
        Humidity :{{weatherDay.main.humidity}}
        <br>
        Wind Speed:{{weatherDay.wind.speed}}
    </div>
</div>